<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>BarNme</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href='/css/style.css' />
  <script src="http://localhost:3124/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="/js/client.js"></script>
</head>
<body>
    <h1>Page de login</h1>
  	<form action="" id="loginform">
        <input type="text" name="pseudo" id="username" placeholder="Nom d'utilisateur">
        <input type="email" name="mail" id="email" placeholder="E-mail">
        <input type="submit" value="Envoyer">
    </form>


</body>
</html>