<!doctype html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <title>BarNme</title>
  </style>
  <link rel="stylesheet" href="/public/css/style.css">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAz6t2kVq4u6td1DyYlMP5-f57LdZJrV4w&libraries=places" ></script>
  <script type="text/javascript" src="/public/js/map.js"></script>
  <!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAz6t2kVq4u6td1DyYlMP5-f57LdZJrV4w&callback=initMap"> -->
  </script>
  
</head>

<body>
  <div id="map"></div>

</body>
</html>
