/*** BASE ***/

body {
    margin: 0;
}

.container-fluid {
	z-index: 1;
}

/*** MAP ***/
#map {
    height: 400px;
    width: 100%;
}


/*** CHAT ***/
.login-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
	text-align: center;
	z-index: 999;
    /* display: none; */
}

.login-overlay form {
    display: table-cell;
    vertical-align: middle;
}

.login-overlay .form-control {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}


.send-message {
	background-color: rgba(0, 0, 0, 0.25);
	padding: 20px 10px;
	position: fixed;
    bottom: 0;
    width: 100%;
}

@media (min-width: 768px){
    .send-message .form-group {
        width: 90%;
    }
}

@media (min-width: 576px) and (max-width: 767px){
    .send-message .form-group {
        width: 85%;
    }
}

@media (max-width: 575px){
    .send-message .form-group {
        width: 100%;
    }
}

.send-message .form-group input {
    width: 100%;
}