/*** BASE ***/

body {
    margin: 0;
    font-size: 16px;
}


/*** MAP ***/
#map {
    height: 400px;
    width: 100%;
    z-index: 1;
}
.container-fluid{
    padding-left: 0px !important;
    padding-right: 0px !important;
 }

/*** CHAT ***/
.login-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
	text-align: center;
	z-index: 99;
    /* display: none; */
}

.login-overlay form {
    margin-top: 10%;
    vertical-align: middle;
}

.login-overlay .form-control {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}


.send-message {
	background-color: rgba(0, 0, 0, 0.25);
	padding: 20px 10px;
	position: fixed;
    bottom: 0;
    width: 100%;
}

/* Enlever les puces des messages */
#msglist{
    list-style: none;
}


#logyou {
    display: none;
}

.container.lechat{
    z-index: 91;
    position: absolute;
    margin-left: 75%;
    display: none;
    overflow: hidden;

}

.chat-container {
   height: 470px;
  overflow: auto;
}

.chat-container .message {
  /*border-bottom: solid 1px #ccc;*/
  padding: 20px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  direction: ltr;
}

.connecter{
    z-index: 90;
    position: absolute;
    margin-top: 1%;
    margin-left: 85%;

}

.lechatdim{
    background: rgb(255, 255, 255);

}

.toutPetit {
    font-size: x-small;
}
.petit {
    font-size: small;
}

.titre {
    margin-top: 1%;
    margin-left: 1%;
    text-transform: uppercase;
}

@media (min-width: 768px){
    .send-message .form-group {
        width: 90%;
    }
}

@media (min-width: 576px) and (max-width: 767px){
    .send-message .form-group {
        width: 85%;
    }
}

@media (max-width: 575px){
    .send-message .form-group {
        width: 100%;
    }
}

.send-message .form-group input {
    width: 100%;
}